<!doctype html>
<html>
  <head>
    {% block title %}
      <title>Bootstrap Legal</title>
    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <!-- FLASH MESSAGING -->
    <!-- see: http://flask.pocoo.org/docs/1.0/patterns/flashing/#flashing-with-categories -->
    <!-- see: https://getbootstrap.com/docs/4.3/components/alerts/ -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- SITE NAVIGATION -->
    <div class="container">
      <div id="nav">
        {% block nav %}
         <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">BootStrap Legal</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                  <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="chat.html">Chat with Lawyer<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="testimonials.html">Testimonials (coming soon)</a>
                </li>
              </li>
            </ul>
          </div>
        </nav>
        {% endblock %}
      </div>
      <hr>

      <!-- PAGE CONTENTS -->
      <div id="content">
        <br>
        <br>
        {% block content %}
        {% endblock %}
      </div>

      <!-- FOOTER -->
      <div id="footer">
        <hr>
        &copy; Copyright 2020 BS Legal |
      </div>
    </div>

    <!-- JAVASCRIPT SECTION -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">

        console.log("Thanks for the page visit!")

        // closes data-dismiss="alert" flash messages
        // see: https://getbootstrap.com/docs/4.3/components/alerts/#javascript-behavior
        $().alert('close')

    </script>
  </body>
</html>
