{% extends "layout.html" %}

{% block title %}
  <title>New Product | Example Web App</title>
{% endblock %}

{% block content %}
  <h2>Contact one of our entrepreneurial law experts</h2>
  <p>Please ask us a question!</p>

  <form action="/sendemail" method="POST">
    <label>What's your email address so that we can copy you on your request?</label>
    <input type="text" name="email_address" placeholder="hello@gmail.com" value="hello@gmail.com" style="width: 300px">
    <label>What is your problem?</label>
    <input type="text" name="inquiry" placeholder="What can we help you with?" value="What can we help you with?" style="width: 300px">
    <button>Submit</button>
  </form>
{% endblock %}
